{
  "openapi": "3.0.3",
  "info": {
    "contact": {},
    "description": "API pública do Yeon para sellers. Autentique cada requisição com um token de API no header Authorization no formato \"Bearer <token>\". O token é gerado no dashboard e escopado a um único projeto.",
    "title": "Yeon Public API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yeon.com.br",
      "description": "Produção"
    }
  ],
  "paths": {
    "/api/public/v1/products": {
      "get": {
        "operationId": "listProducts",
        "description": "Lista os produtos do projeto associado ao token de API (Bearer), paginado. Expõe apenas produtos ativos com pelo menos uma oferta ativa. Por padrão retorna só a identidade do produto; com include=offers cada produto embute suas ofertas ativas (offers[]) com link de checkout pronto para uso. Rate-limit: 1 requisição por segundo por IP.",
        "parameters": [
          {
            "description": "Itens por página (default 20, máx 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "description": "Deslocamento para paginação (default 0)",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "description": "Recursos relacionados a embutir. Aceita \"offers\" para incluir as ofertas ativas de cada produto.",
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "offers"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Product"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — excedeu 1 requisição por segundo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Lista produtos",
        "tags": [
          "products"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "description": "Identidade do produto (nome, descrição, imagem, status). Tudo que define como o comprador paga — preço, moeda, parcelamento, recorrência — vive exclusivamente nas ofertas.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Status do produto; afeta todas as ofertas.",
            "example": "active"
          },
          "offers": {
            "type": "array",
            "description": "Ofertas ativas do produto, ordenadas por posição. Presente apenas quando include=offers.",
            "items": {
              "$ref": "#/components/schemas/Offer"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Offer": {
        "type": "object",
        "description": "Variação de preço/condição comprável do produto.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "description": "Identificador público da oferta (of_ + 10 caracteres).",
            "example": "of_a1b2c3d4e5"
          },
          "name": {
            "type": "string"
          },
          "price_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Preço da oferta em centavos."
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "max_installments": {
            "type": "integer",
            "description": "Máximo de parcelas no cartão."
          },
          "recurring_interval": {
            "type": "string",
            "description": "Intervalo de recorrência legado (deprecated: use interval + interval_count)."
          },
          "interval": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month",
              "year"
            ],
            "description": "Unidade do ciclo de cobrança (ofertas recorrentes)."
          },
          "interval_count": {
            "type": "integer",
            "description": "Quantidade de unidades por ciclo (ex. interval=month, interval_count=3 = trimestral)."
          },
          "trial_days": {
            "type": "integer",
            "description": "Dias de trial (ofertas recorrentes)."
          },
          "checkout_url": {
            "type": "string",
            "format": "uri",
            "description": "URL do checkout hospedado da oferta, pronta para uso.",
            "example": "https://checkout.yeon.com.br/of_a1b2c3d4e5"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "next_offset": {
            "type": "integer",
            "nullable": true,
            "description": "Offset da próxima página; null quando não há mais páginas."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token de API do seller gerado no dashboard, escopado a um projeto."
      }
    }
  }
}