{
  "openapi": "3.0.3",
  "info": {
    "contact": {},
    "description": "API pública do Yeon para sellers. Autentique cada requisição com um token de API no header Authorization no formato \"Bearer <token>\". O token é gerado no dashboard, escopado a um único projeto e carrega PERMISSÕES escolhidas na criação: cada operação exige uma permissão específica, e leitura, escrita e ações sensíveis (reembolso, saque, gestão de membros) são concedidas separadamente. Chaves criadas antes das permissões continuam válidas e mantêm exatamente o acesso que tinham: a listagem pública de produtos.",
    "title": "Yeon Public API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yeon.com.br",
      "description": "Produção"
    }
  ],
  "paths": {
    "/api/public/v1/billing/summary": {
      "get": {
        "operationId": "getBillingSummary",
        "summary": "Indicadores do mês",
        "description": "Os indicadores do mês já calculados pela Yeon: receita bruta e líquida, ticket médio, vendas, acessos, afiliados, co-produção e funil.",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Mês no formato AAAA-MM. Default: mês corrente.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BillingSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "indicators"
        ]
      }
    },
    "/api/public/v1/billing/summary/chart": {
      "get": {
        "operationId": "getBillingChart",
        "summary": "Série diária de vendas",
        "description": "Vendas por dia do mês selecionado, com o mês anterior alinhado por dia-do-mês para comparação.",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Mês no formato AAAA-MM. Default: mês corrente.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SalesChartPoint"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "indicators"
        ]
      }
    },
    "/api/public/v1/billing/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "Lista transações",
        "description": "Lista as transações do projeto — uma linha por PRODUTO vendido (ADR 0039). Devolve um array simples; use limit e offset para paginar.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Busca livre por comprador, e-mail, id do pedido ou referência externa.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtra pelo status da cobrança.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "Método usado na cobrança.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Início do período (RFC3339 ou AAAA-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Fim do período (RFC3339 ou AAAA-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_value_cents",
            "in": "query",
            "description": "Valor mínimo em CENTAVOS.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_value_cents",
            "in": "query",
            "description": "Valor máximo em CENTAVOS.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "is_subscription",
            "in": "query",
            "description": "Só vendas de assinatura (true) ou só avulsas (false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Itens por página (default 20, máx 100).",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Deslocamento para paginação.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/billing/transactions/export": {
      "get": {
        "operationId": "exportTransactions",
        "summary": "Exporta transações em XLSX",
        "description": "Exporta as transações filtradas como planilha. Aceita os mesmos filtros da listagem; a paginação é ignorada e o export é limitado a 50.000 linhas.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Busca livre por comprador, e-mail, id do pedido ou referência externa.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtra pelo status da cobrança.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "Método usado na cobrança.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Início do período (RFC3339 ou AAAA-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Fim do período (RFC3339 ou AAAA-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_value_cents",
            "in": "query",
            "description": "Valor mínimo em CENTAVOS.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_value_cents",
            "in": "query",
            "description": "Valor máximo em CENTAVOS.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "is_subscription",
            "in": "query",
            "description": "Só vendas de assinatura (true) ou só avulsas (false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Planilha XLSX.",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/billing/transactions/{orderID}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Detalha uma venda",
        "description": "Detalha a venda: pedido, comprador, taxas e comissões, linhas, tentativas de cobrança e vendas derivadas do funil.",
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "description": "Id do pedido (`ON…`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransactionDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o pedido não existe ou não pertence ao projeto da chave. As duas respostas são idênticas de propósito: distingui-las permitiria sondar ids alheios.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/billing/transactions/{orderID}/events": {
      "get": {
        "operationId": "listTransactionEvents",
        "summary": "Histórico de eventos da venda",
        "description": "Lista as entregas de webhook disparadas por esta venda, com o corpo enviado e a resposta recebida. Até 200 entregas, da mais recente para a mais antiga.",
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "description": "Id do pedido (`ON…`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventDelivery"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o pedido não existe ou não pertence ao projeto da chave. As duas respostas são idênticas de propósito: distingui-las permitiria sondar ids alheios.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/billing/transactions/{orderID}/events/{logID}/resend": {
      "post": {
        "operationId": "resendTransactionEvent",
        "summary": "Reenvia uma entrega de webhook",
        "description": "Reenvia ao endpoint do produtor uma entrega já registrada no histórico desta venda. Repetir com a MESMA chave não entrega duas vezes; para entregar de novo de propósito, use outra chave.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Identificador da TENTATIVA, escolhido por você (um UUID serve). Repetir a chamada com a mesma chave não repete o efeito: devolve a resposta da primeira, com o cabeçalho `Idempotent-Replay: true`. É o que torna seguro tentar de novo depois de um timeout, quando você não sabe se a primeira chegou. A chave vale 24 horas e é escopada ao seu projeto. A resposta repetida é a MESMA semanticamente; a ordem das chaves do JSON pode diferir, porque a resposta guardada é normalizada no armazenamento.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "logID",
            "in": "path",
            "required": true,
            "description": "Id da entrega, vindo do histórico de eventos.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — `IDEMPOTENCY_KEY_REQUIRED` sem o cabeçalho.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — a entrega não existe ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `IDEMPOTENCY_KEY_REUSED` ou `IDEMPOTENCY_IN_PROGRESS`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — teto de ESCRITAS por minuto.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/billing/transactions/{orderID}/refund": {
      "post": {
        "operationId": "refundTransaction",
        "summary": "Reembolsa uma venda",
        "description": "Devolve dinheiro ao comprador. Com `ON…` estorna TODAS as cobranças do pedido e carimba todas as linhas; com `ON…-N` devolve o valor daquela linha (ADR 0024/0039).\n\nO dinheiro sai também dos beneficiários: a fatia do afiliado e a do co-produtor são revertidas junto, nos mesmos participantes que a venda creditou.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Identificador da TENTATIVA, escolhido por você (um UUID serve). Repetir a chamada com a mesma chave não repete o efeito: devolve a resposta da primeira, com o cabeçalho `Idempotent-Replay: true`. É o que torna seguro tentar de novo depois de um timeout, quando você não sabe se a primeira chegou. A chave vale 24 horas e é escopada ao seu projeto. A resposta repetida é a MESMA semanticamente; a ordem das chaves do JSON pode diferir, porque a resposta guardada é normalizada no armazenamento.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "description": "Pedido (`ON…`) para devolver a venda inteira, ou a linha (`ON…-N`) para devolver só um produto do pedido. Reembolso por linha e parcial não são suportados em pagamento dividido.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/RefundOrderResult"
                    }
                  }
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status — parte das cobranças voltou e parte não. O corpo é o mesmo, com `status: partially_refunded`; olhe `legs` para saber qual falhou e por quê. NÃO repita com a mesma chave esperando resultado diferente: a repetição devolve esta mesma resposta.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/RefundOrderResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — `INVALID_REFUND_REASON`: o campo `reason` precisa ser um de `requested_by_seller`, `duplicate`, `fraud`, `other`. `INVALID_REFUND_AMOUNT`: `amount_cents` não pode ser negativo. `IDEMPOTENCY_KEY_REQUIRED` sem o cabeçalho.\n\nEstes são erros do CORPO: repetir a mesma requisição não muda o resultado — corrija e reenvie. Falha da DEVOLUÇÃO em si é `422 ORDER_REFUND_FAILED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão **billing:refund** (error_code API_TOKEN_SCOPE_MISSING). Reembolso é ação sensível e tem permissão própria: `billing:read` e `billing:write` NÃO a satisfazem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o pedido não existe ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — a cobrança não pode ser reembolsada no estado atual (`PAYMENT_NOT_REFUNDABLE`), ou conflito de idempotência: `IDEMPOTENCY_KEY_REUSED` para a mesma chave em requisição diferente, `IDEMPOTENCY_IN_PROGRESS` enquanto a primeira roda.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable — o valor pedido excede o que resta reembolsável (`REFUND_AMOUNT_EXCEEDS_RESIDUAL`). É a defesa contra devolver duas vezes: o segundo reembolso integral de uma cobrança já devolvida cai aqui.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — teto de ESCRITAS por minuto (API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway — o provedor recusou processar o reembolso (`REFUND_GATEWAY_FAILED`). A chave é liberada; pode repetir.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "refunds"
        ]
      }
    },
    "/api/public/v1/catalog/coupons": {
      "get": {
        "operationId": "listCoupons",
        "summary": "Lista cupons",
        "description": "Lista os cupons do projeto da chave.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coupon"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      },
      "post": {
        "operationId": "createCoupon",
        "summary": "Cria um cupom",
        "description": "Cria um cupom no projeto da chave.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Identificador da TENTATIVA, escolhido por você (um UUID serve). Repetir a chamada com a mesma chave não repete o efeito: devolve a resposta da primeira, com o cabeçalho `Idempotent-Replay: true`. É o que torna seguro tentar de novo depois de um timeout, quando você não sabe se a primeira chegou. A chave vale 24 horas e é escopada ao seu projeto. A resposta repetida é a MESMA semanticamente; a ordem das chaves do JSON pode diferir, porque a resposta guardada é normalizada no armazenamento.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Coupon"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio. Sem o cabeçalho Idempotency-Key, `error_code` é IDEMPOTENCY_KEY_REQUIRED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `IDEMPOTENCY_KEY_REUSED` quando a mesma chave foi usada para uma requisição DIFERENTE (devolver a resposta da outra operação seria pior que falhar), ou `IDEMPOTENCY_IN_PROGRESS` quando a primeira chamada com essa chave ainda está rodando — nesse caso o cabeçalho Retry-After diz quando insistir.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      }
    },
    "/api/public/v1/catalog/coupons/options": {
      "get": {
        "operationId": "listCouponOptions",
        "summary": "Lista os alvos selecionáveis de um cupom",
        "description": "Lista produtos, ofertas e contas afiliadas do projeto que podem ser escolhidos ao restringir a abrangência de um cupom.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CouponSelectionOption"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      }
    },
    "/api/public/v1/catalog/coupons/{id}": {
      "get": {
        "operationId": "getCoupon",
        "summary": "Detalha um cupom",
        "description": "Detalha um cupom do projeto da chave.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do cupom (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Coupon"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o cupom não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      },
      "patch": {
        "operationId": "updateCoupon",
        "summary": "Atualiza um cupom",
        "description": "Atualização parcial. Salvar seleção restrita vazia é recusado com 400.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do cupom (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o cupom não existe ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      },
      "delete": {
        "operationId": "deleteCoupon",
        "summary": "Exclui um cupom",
        "description": "Exclui o cupom (soft delete).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do cupom (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o cupom não existe ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      }
    },
    "/api/public/v1/catalog/offers/{offerId}": {
      "patch": {
        "operationId": "updateOffer",
        "summary": "Atualiza uma oferta",
        "description": "Atualização parcial da oferta.",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — a oferta não existe ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      },
      "delete": {
        "operationId": "deleteOffer",
        "summary": "Exclui uma oferta",
        "description": "Exclui a oferta. Excluir a ÚLTIMA oferta de um produto é recusado: um produto sem oferta não é vendável (ADR 0008).",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — a oferta não existe ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products": {
      "get": {
        "operationId": "listCatalogProducts",
        "summary": "Lista produtos (gestão)",
        "description": "Lista os produtos do projeto da chave, INCLUINDO rascunho e inativo — é a visão de gestão. Para a vitrine (só ativos com oferta ativa, com link de checkout pronto), use GET /api/public/v1/products, cujo contrato é estável e independente deste.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filtra por status.",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filtra por tipo de oferta do produto.",
            "schema": {
              "type": "string",
              "enum": [
                "one_time",
                "recurring"
              ]
            }
          },
          {
            "name": "content_format",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "niche",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogProduct"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Cria um produto",
        "description": "Cria um produto no projeto da chave. O produto é só a base: para vendê-lo, crie ao menos uma oferta.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Identificador da TENTATIVA, escolhido por você (um UUID serve). Repetir a chamada com a mesma chave não repete o efeito: devolve a resposta da primeira, com o cabeçalho `Idempotent-Replay: true`. É o que torna seguro tentar de novo depois de um timeout, quando você não sabe se a primeira chegou. A chave vale 24 horas e é escopada ao seu projeto. A resposta repetida é a MESMA semanticamente; a ordem das chaves do JSON pode diferir, porque a resposta guardada é normalizada no armazenamento.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CatalogProduct"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio. Sem o cabeçalho Idempotency-Key, `error_code` é IDEMPOTENCY_KEY_REQUIRED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `IDEMPOTENCY_KEY_REUSED` quando a mesma chave foi usada para uma requisição DIFERENTE (devolver a resposta da outra operação seria pior que falhar), ou `IDEMPOTENCY_IN_PROGRESS` quando a primeira chamada com essa chave ainda está rodando — nesse caso o cabeçalho Retry-After diz quando insistir.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/export": {
      "get": {
        "operationId": "exportCatalogProducts",
        "summary": "Exporta o catálogo em XLSX",
        "description": "Exporta produtos e ofertas do projeto da chave como planilha XLSX — o mesmo arquivo que a importação aceita de volta (ADR 0060).",
        "responses": {
          "200": {
            "description": "Planilha XLSX.",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}": {
      "get": {
        "operationId": "getCatalogProduct",
        "summary": "Detalha um produto",
        "description": "Detalha um produto do projeto da chave.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CatalogProduct"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Atualiza um produto",
        "description": "Atualização parcial: só os campos enviados mudam.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Exclui um produto",
        "description": "Exclui o produto. Recusado com 409 quando ele já tem vínculos comerciais — nesse caso, desative-o em vez de excluir.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/bumps": {
      "get": {
        "operationId": "listProductOrderBumps",
        "summary": "Lista os order bumps de um produto",
        "description": "Lista o bloco de order bumps exibido no checkout do produto.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderBumps"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      },
      "post": {
        "operationId": "replaceProductOrderBumps",
        "summary": "Substitui os order bumps",
        "description": "Substitui o bloco inteiro de order bumps do produto pelo conteúdo enviado.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderBumpsReplace"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderBumps"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/experiment": {
      "get": {
        "operationId": "getProductExperiment",
        "summary": "Resultado do teste A/B do checkout",
        "description": "Resultado do teste A/B de layout do checkout do produto. Sem from/to, a janela é dos últimos 30 dias.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Início da janela (AAAA-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Fim da janela (AAAA-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ExperimentReport"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/funnel": {
      "get": {
        "operationId": "listProductFunnelSteps",
        "summary": "Lista as etapas do funil pós-compra",
        "description": "Lista as etapas de upsell/downsell exibidas depois da compra, com os contadores da janela completa.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunnelStep"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      },
      "post": {
        "operationId": "replaceProductFunnelSteps",
        "summary": "Substitui o funil pós-compra",
        "description": "Substitui as etapas do funil pós-compra do produto pelo conteúdo enviado.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunnelReplace"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunnelStep"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/offers": {
      "get": {
        "operationId": "listProductOffers",
        "summary": "Lista as ofertas de um produto",
        "description": "Lista TODAS as ofertas do produto, inclusive inativas. A oferta é a unidade de venda: é dela que saem preço, moeda, parcelamento, cadência e meios de pagamento (ADR 0008). O link de checkout é montado a partir de public_id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogOffer"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      },
      "post": {
        "operationId": "createOffer",
        "summary": "Cria uma oferta",
        "description": "Cria uma oferta do produto. É a oferta que carrega o link de checkout (`public_id`).",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Identificador da TENTATIVA, escolhido por você (um UUID serve). Repetir a chamada com a mesma chave não repete o efeito: devolve a resposta da primeira, com o cabeçalho `Idempotent-Replay: true`. É o que torna seguro tentar de novo depois de um timeout, quando você não sabe se a primeira chegou. A chave vale 24 horas e é escopada ao seu projeto. A resposta repetida é a MESMA semanticamente; a ordem das chaves do JSON pode diferir, porque a resposta guardada é normalizada no armazenamento.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CatalogOffer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio. Sem o cabeçalho Idempotency-Key, `error_code` é IDEMPOTENCY_KEY_REQUIRED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:write (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `IDEMPOTENCY_KEY_REUSED` quando a mesma chave foi usada para uma requisição DIFERENTE (devolver a resposta da outra operação seria pior que falhar), ou `IDEMPOTENCY_IN_PROGRESS` quando a primeira chamada com essa chave ainda está rodando — nesse caso o cabeçalho Retry-After diz quando insistir.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de ESCRITAS por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/theme": {
      "get": {
        "operationId": "getProductTheme",
        "summary": "Consulta o tema do checkout do produto",
        "description": "Devolve o tema PRÓPRIO do produto. Responde 404 quando o produto não tem tema próprio e herda o do projeto — o que não é erro, é a resposta de que não há nada sobrescrito.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ProductTheme"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não tem tema próprio (herda o do projeto), ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      },
      "put": {
        "operationId": "putProductTheme",
        "summary": "Define o tema do produto",
        "description": "Grava o tema PRÓPRIO do produto, que faz merge raso sobre o tema do projeto (ADR 0009).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductTheme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ProductTheme"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — corpo inválido ou regra de validação do domínio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
[...]
