{
  "openapi": "3.0.3",
  "info": {
    "contact": {},
    "description": "API pública do Yeon para sellers. Autentique cada requisição com um token de API no header Authorization no formato \"Bearer <token>\". O token é gerado no dashboard, escopado a um único projeto e carrega PERMISSÕES escolhidas na criação: cada operação exige uma permissão específica, e leitura, escrita e ações sensíveis (reembolso, saque, gestão de membros) são concedidas separadamente. Chaves criadas antes das permissões continuam válidas e mantêm exatamente o acesso que tinham: a listagem pública de produtos.",
    "title": "Yeon Public API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yeon.com.br",
      "description": "Produção"
    }
  ],
  "paths": {
    "/api/public/v1/billing/summary": {
      "get": {
        "operationId": "getBillingSummary",
        "summary": "Indicadores do mês",
        "description": "Os indicadores do mês já calculados pela Yeon: receita bruta e líquida, ticket médio, vendas, acessos, afiliados, co-produção e funil.",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Mês no formato AAAA-MM. Default: mês corrente.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BillingSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "indicators"
        ]
      }
    },
    "/api/public/v1/billing/summary/chart": {
      "get": {
        "operationId": "getBillingChart",
        "summary": "Série diária de vendas",
        "description": "Vendas por dia do mês selecionado, com o mês anterior alinhado por dia-do-mês para comparação.",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Mês no formato AAAA-MM. Default: mês corrente.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SalesChartPoint"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "indicators"
        ]
      }
    },
    "/api/public/v1/billing/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "Lista transações",
        "description": "Lista as transações do projeto — uma linha por PRODUTO vendido (ADR 0039). Devolve um array simples; use limit e offset para paginar.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Busca livre por comprador, e-mail, id do pedido ou referência externa.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtra pelo status da cobrança.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "Método usado na cobrança.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Início do período (RFC3339 ou AAAA-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Fim do período (RFC3339 ou AAAA-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_value_cents",
            "in": "query",
            "description": "Valor mínimo em CENTAVOS.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_value_cents",
            "in": "query",
            "description": "Valor máximo em CENTAVOS.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "is_subscription",
            "in": "query",
            "description": "Só vendas de assinatura (true) ou só avulsas (false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Itens por página (default 20, máx 100).",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Deslocamento para paginação.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/billing/transactions/export": {
      "get": {
        "operationId": "exportTransactions",
        "summary": "Exporta transações em XLSX",
        "description": "Exporta as transações filtradas como planilha. Aceita os mesmos filtros da listagem; a paginação é ignorada e o export é limitado a 50.000 linhas.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Busca livre por comprador, e-mail, id do pedido ou referência externa.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtra pelo status da cobrança.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "Método usado na cobrança.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Início do período (RFC3339 ou AAAA-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Fim do período (RFC3339 ou AAAA-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_value_cents",
            "in": "query",
            "description": "Valor mínimo em CENTAVOS.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_value_cents",
            "in": "query",
            "description": "Valor máximo em CENTAVOS.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "is_subscription",
            "in": "query",
            "description": "Só vendas de assinatura (true) ou só avulsas (false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Planilha XLSX.",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/billing/transactions/{orderID}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Detalha uma venda",
        "description": "Detalha a venda: pedido, comprador, taxas e comissões, linhas, tentativas de cobrança e vendas derivadas do funil.",
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "description": "Id do pedido (`ON…`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransactionDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o pedido não existe ou não pertence ao projeto da chave. As duas respostas são idênticas de propósito: distingui-las permitiria sondar ids alheios.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/billing/transactions/{orderID}/events": {
      "get": {
        "operationId": "listTransactionEvents",
        "summary": "Histórico de eventos da venda",
        "description": "Lista as entregas de webhook disparadas por esta venda, com o corpo enviado e a resposta recebida. Até 200 entregas, da mais recente para a mais antiga.",
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "description": "Id do pedido (`ON…`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventDelivery"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o pedido não existe ou não pertence ao projeto da chave. As duas respostas são idênticas de propósito: distingui-las permitiria sondar ids alheios.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "transactions"
        ]
      }
    },
    "/api/public/v1/catalog/coupons": {
      "get": {
        "operationId": "listCoupons",
        "summary": "Lista cupons",
        "description": "Lista os cupons do projeto da chave.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coupon"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      }
    },
    "/api/public/v1/catalog/coupons/options": {
      "get": {
        "operationId": "listCouponOptions",
        "summary": "Lista os alvos selecionáveis de um cupom",
        "description": "Lista produtos, ofertas e contas afiliadas do projeto que podem ser escolhidos ao restringir a abrangência de um cupom.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CouponSelectionOption"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      }
    },
    "/api/public/v1/catalog/coupons/{id}": {
      "get": {
        "operationId": "getCoupon",
        "summary": "Detalha um cupom",
        "description": "Detalha um cupom do projeto da chave.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do cupom (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Coupon"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o cupom não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "coupons"
        ]
      }
    },
    "/api/public/v1/catalog/products": {
      "get": {
        "operationId": "listCatalogProducts",
        "summary": "Lista produtos (gestão)",
        "description": "Lista os produtos do projeto da chave, INCLUINDO rascunho e inativo — é a visão de gestão. Para a vitrine (só ativos com oferta ativa, com link de checkout pronto), use GET /api/public/v1/products, cujo contrato é estável e independente deste.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filtra por status.",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filtra por tipo de oferta do produto.",
            "schema": {
              "type": "string",
              "enum": [
                "one_time",
                "recurring"
              ]
            }
          },
          {
            "name": "content_format",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "niche",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogProduct"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/export": {
      "get": {
        "operationId": "exportCatalogProducts",
        "summary": "Exporta o catálogo em XLSX",
        "description": "Exporta produtos e ofertas do projeto da chave como planilha XLSX — o mesmo arquivo que a importação aceita de volta (ADR 0060).",
        "responses": {
          "200": {
            "description": "Planilha XLSX.",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}": {
      "get": {
        "operationId": "getCatalogProduct",
        "summary": "Detalha um produto",
        "description": "Detalha um produto do projeto da chave.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CatalogProduct"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/bumps": {
      "get": {
        "operationId": "listProductOrderBumps",
        "summary": "Lista os order bumps de um produto",
        "description": "Lista o bloco de order bumps exibido no checkout do produto.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderBumps"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/experiment": {
      "get": {
        "operationId": "getProductExperiment",
        "summary": "Resultado do teste A/B do checkout",
        "description": "Resultado do teste A/B de layout do checkout do produto. Sem from/to, a janela é dos últimos 30 dias.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Início da janela (AAAA-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Fim da janela (AAAA-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ExperimentReport"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/funnel": {
      "get": {
        "operationId": "listProductFunnelSteps",
        "summary": "Lista as etapas do funil pós-compra",
        "description": "Lista as etapas de upsell/downsell exibidas depois da compra, com os contadores da janela completa.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunnelStep"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/offers": {
      "get": {
        "operationId": "listProductOffers",
        "summary": "Lista as ofertas de um produto",
        "description": "Lista TODAS as ofertas do produto, inclusive inativas. A oferta é a unidade de venda: é dela que saem preço, moeda, parcelamento, cadência e meios de pagamento (ADR 0008). O link de checkout é montado a partir de public_id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogOffer"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não existe, não pertence ao projeto da chave, ou pertence a outro projeto da mesma conta. As três respostas são idênticas de propósito: distingui-las permitiria sondar ids de outros projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/catalog/products/{id}/theme": {
      "get": {
        "operationId": "getProductTheme",
        "summary": "Consulta o tema do checkout do produto",
        "description": "Devolve o tema PRÓPRIO do produto. Responde 404 quando o produto não tem tema próprio e herda o do projeto — o que não é erro, é a resposta de que não há nada sobrescrito.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do produto (UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ProductTheme"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão catalog:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — o produto não tem tema próprio (herda o do projeto), ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de leituras por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "catalog"
        ]
      }
    },
    "/api/public/v1/payments/{paymentID}/refunds": {
      "get": {
        "operationId": "listPaymentRefunds",
        "summary": "Lista os reembolsos de uma cobrança",
        "description": "Lista os reembolsos registrados sobre uma cobrança, com o andamento de cada um.",
        "parameters": [
          {
            "name": "paymentID",
            "in": "path",
            "required": true,
            "description": "Id da cobrança.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Refund"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem a permissão billing:read (error_code API_TOKEN_SCOPE_MISSING).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — a cobrança não existe ou não pertence ao projeto da chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto por minuto (error_code API_TOKEN_RATE_LIMITED). Veja Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "refunds"
        ]
      }
    },
    "/api/public/v1/products": {
      "get": {
        "operationId": "listProducts",
        "description": "Lista os produtos do projeto associado ao token de API (Bearer), paginado. Expõe apenas produtos ativos com pelo menos uma oferta ativa. Por padrão retorna só a identidade do produto; com include=offers cada produto embute suas ofertas ativas (offers[]) com link de checkout pronto para uso. Rate-limit: por credencial, no balde de leitura.",
        "parameters": [
          {
            "description": "Itens por página (default 20, máx 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "description": "Deslocamento para paginação (default 0)",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "description": "Recursos relacionados a embutir. Aceita \"offers\" para incluir as ofertas ativas de cada produto.",
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "offers"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Product"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — token ausente, inválido ou revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — a chave não tem permissão para esta operação (error_code API_TOKEN_SCOPE_MISSING). Esta rota exige catalog:storefront ou catalog:read. As permissões são escolhidas na criação da chave, no Painel, e não mudam depois: para alterá-las, gere outra chave e revogue a atual.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — a chave excedeu o teto de requisições por minuto (error_code API_TOKEN_RATE_LIMITED). O limite é por CREDENCIAL, com baldes separados para leitura e escrita, e o cabeçalho Retry-After diz em quantos segundos tentar de novo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Lista produtos",
        "tags": [
          "products"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BillingSummary": {
        "type": "object",
        "description": "Os indicadores do mês, já calculados pela Yeon. net_revenue é o que FICOU com este projeto: numa venda co-produzida, `valor − taxa` não é o líquido do produtor, porque a fatia do co-produtor sai na mesma transação (ADR 0022).",
        "properties": {
          "gross_revenue": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "net_revenue": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "avg_ticket": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "sales_count": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "accesses": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "affiliate_paid": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "affiliate_received": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "affiliate_accesses": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "affiliate_conversions": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "coproduction_paid": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "coproduction_received": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "coproduction_sales": {
            "$ref": "#/components/schemas/SummaryMetric"
          },
          "funnel": {
            "type": "object",
            "properties": {
              "views": {
                "type": "integer",
                "format": "int64"
              },
              "accepts": {
                "type": "integer",
                "format": "int64"
              },
              "declines": {
                "type": "integer",
                "format": "int64"
              },
              "approved": {
                "type": "integer",
                "format": "int64"
              },
              "revenue_cents": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "experiments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "product_name": {
                  "type": "string"
                },
                "variant": {
                  "type": "string"
                },
                "layout": {
                  "type": "string"
                },
                "views": {
                  "type": "integer",
                  "format": "int64"
                },
                "sessions": {
                  "type": "integer",
                  "format": "int64"
                },
                "approved": {
                  "type": "integer",
                  "format": "int64"
                },
                "conversion": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        }
      },
      "CatalogOffer": {
        "type": "object",
        "description": "Oferta é a unidade de venda: preço, moeda, parcelamento, cadência e meios de pagamento (ADR 0008). Valores em CENTAVOS.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "one_time",
              "recurring"
            ]
          },
          "price_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Preço em centavos."
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "max_installments": {
            "type": "integer"
          },
          "free_installments": {
            "type": "integer",
            "description": "Parcelas sem juros."
          },
          "recurring_interval": {
            "type": "string",
            "description": "DEPRECATED — use interval + interval_count."
          },
          "interval": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month",
              "year"
            ],
            "nullable": true
          },
          "interval_count": {
            "type": "integer",
            "nullable": true
          },
          "anchor_day_of_month": {
            "type": "integer",
            "nullable": true
          },
          "anchor_day_of_week": {
            "type": "integer",
            "nullable": true
          },
          "anchor_month_of_year": {
            "type": "integer",
            "nullable": true
          },
          "statement_descriptor": {
            "type": "string",
            "nullable": true,
            "description": "O que aparece na fatura do cartão."
          },
          "default_installments_mode": {
            "type": "string",
            "enum": [
              "max",
              "single"
            ]
          },
          "trial_days": {
            "type": "integer"
          },
          "max_cycles": {
            "type": "integer",
            "description": "0 = sem limite de ciclos."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "position": {
            "type": "integer"
          },
          "public_id": {
            "type": "string",
            "description": "Identificador público (of_ + 10 caracteres); é o que compõe o link de checkout.",
            "example": "of_a1b2c3d4e5"
          },
          "max_sales": {
            "type": "integer",
            "nullable": true,
            "description": "Teto de vendas (soft-cap, ADR 0010)."
          },
          "sold_count": {
            "type": "integer",
            "description": "Vendas líquidas de aprovadas, contadas por PEDIDO (ADR 0010)."
          },
          "payment_methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "credit_card",
                "pix",
                "boleto"
              ]
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CatalogProduct": {
        "type": "object",
        "description": "Produto na visão de GESTÃO: inclui rascunho e inativo, que a vitrine (GET /api/public/v1/products) filtra. Preço, moeda, parcelamento e recorrência NÃO vivem aqui — são da oferta (ADR 0008).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid",
            "description": "Sempre o projeto da chave."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "content_format": {
            "type": "string"
          },
          "niche": {
            "type": "string"
          },
          "redirect_url": {
            "type": "string",
            "description": "Para onde o comprador vai depois de pagar."
          },
          "webhook_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhooks do produtor escopados a este produto."
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "inactive"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Coupon": {
        "type": "object",
        "description": "Cupom do projeto. A abrangência é dada por scope + as listas correspondentes (ADR 0047).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string",
            "enum": [
              "percent",
              "fixed"
            ]
          },
          "discount_value": {
            "type": "integer",
            "format": "int64",
            "description": "Percentual em pontos (10 = 10%) ou valor em CENTAVOS, conforme discount_type."
          },
          "scope": {
            "type": "string",
            "description": "Onde o cupom vale: todo o projeto, produtos ou ofertas selecionados."
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "offer_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "affiliate_account_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Atribuições de afiliado elegíveis."
          },
          "visible_to_affiliates": {
            "type": "boolean",
            "description": "Divulgação na vitrine do afiliado. Não altera a validade no checkout (ADR 0048)."
          },
          "subscription_apply": {
            "type": "string",
            "description": "Se o desconto vale só na adesão ou em todos os ciclos."
          },
          "max_uses": {
            "type": "integer"
          },
          "max_uses_per_customer": {
            "type": "integer"
          },
          "current_uses": {
            "type": "integer"
          },
          "min_order_cents": {
            "type": "integer",
            "format": "int64"
          },
          "first_purchase_only": {
            "type": "boolean"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CouponSelectionOption": {
        "type": "object",
        "description": "Um alvo selecionável ao restringir um cupom.",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "product",
              "offer",
              "affiliate"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "label": {
            "type": "string"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          }
        }
      },
      "EventDelivery": {
        "type": "object",
        "description": "Uma tentativa de entrega de webhook do produtor para esta venda.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "webhook_id": {
            "type": "string",
            "format": "uuid"
          },
          "webhook_url": {
            "type": "string"
          },
          "integration": {
            "type": "string",
            "enum": [
              "webhook",
              "member_area"
            ]
          },
          "outbox_event_id": {
            "type": "integer",
            "format": "int64"
          },
          "event_type": {
            "type": "string"
          },
          "payload": {
            "type": "string",
            "description": "Corpo JSON enviado, como texto."
          },
          "response_status": {
            "type": "integer"
          },
          "response_body": {
            "type": "string"
          },
          "response_time_ms": {
            "type": "integer"
          },
          "attempt": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "next_retry_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExperimentReport": {
        "type": "object",
        "description": "Resultado do teste A/B de layout do checkout do produto, na janela consultada.",
        "properties": {
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentVariant"
            }
          }
        }
      },
      "ExperimentVariant": {
        "type": "object",
        "properties": {
          "variant": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "views": {
            "type": "integer",
            "format": "int64"
          },
          "sessions": {
            "type": "integer",
            "format": "int64"
          },
          "approved": {
            "type": "integer",
            "format": "int64"
          },
          "conversion": {
            "type": "number",
            "format": "double",
            "description": "Aprovadas / sessões."
          }
        }
      },
      "FunnelStep": {
        "type": "object",
        "description": "Etapa do funil pós-compra (one-click upsell/downsell). Cada aceite é uma VENDA NOVA, não uma mutação da compra original (ADR 0045).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "position": {
            "type": "integer"
          },
          "offer_id": {
            "type": "string",
            "format": "uuid"
          },
          "offer_name": {
            "type": "string"
          },
          "offer_price_cents": {
            "type": "integer",
            "format": "int64"
          },
          "offer_max_installments": {
            "type": "integer"
          },
          "product_name": {
            "type": "string"
          },
          "show_when": {
            "type": "string",
            "description": "Condição de exibição da etapa (ex.: aceite ou recusa da anterior)."
          },
          "headline": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "video_url": {
            "type": "string"
          },
          "page_url": {
            "type": "string"
          },
          "cta_accept": {
            "type": "string"
          },
          "cta_decline": {
            "type": "string"
          },
          "views_count": {
            "type": "integer",
            "format": "int64"
          },
          "accepts_count": {
            "type": "integer",
            "format": "int64"
          },
          "declines_count": {
            "type": "integer",
            "format": "int64"
          },
          "approved_count": {
            "type": "integer",
            "format": "int64"
          },
          "revenue_cents": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Offer": {
        "type": "object",
        "description": "Variação de preço/condição comprável do produto.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "description": "Identificador público da oferta (of_ + 10 caracteres).",
            "example": "of_a1b2c3d4e5"
          },
          "name": {
            "type": "string"
          },
          "price_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Preço da oferta em centavos."
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "max_installments": {
            "type": "integer",
            "description": "Máximo de parcelas no cartão."
          },
          "recurring_interval": {
            "type": "string",
            "description": "Intervalo de recorrência legado (deprecated: use interval + interval_count)."
          },
          "interval": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month",
              "year"
            ],
            "description": "Unidade do ciclo de cobrança (ofertas recorrentes)."
          },
          "interval_count": {
            "type": "integer",
            "description": "Quantidade de unidades por ciclo (ex. interval=month, interval_count=3 = trimestral)."
          },
          "trial_days": {
            "type": "integer",
            "description": "Dias de trial (ofertas recorrentes)."
          },
          "checkout_url": {
            "type": "string",
            "format": "uri",
            "description": "URL do checkout hospedado da oferta, pronta para uso.",
            "example": "https://pay.yeon.com.br/of_a1b2c3d4e5"
          }
        }
      },
      "OrderBump": {
        "type": "object",
        "description": "Order bump: um bump vende uma OFERTA (plano), não um produto (ADR 0025).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid",
            "description": "Produto em cujo checkout o bump aparece."
          },
          "bump_product_id": {
            "type": "string",
            "format": "uuid"
          },
          "bump_product_name": {
            "type": "string"
          },
          "bump_offer_id": {
            "type": "string",
            "format": "uuid",
            "description": "Plano oferecido, de onde sai o preço. Vazio só em bump legado sem plano ativo: o checkout o ignora."
          },
          "bump_offer_name": {
            "type": "string"
          },
          "bump_offer_type": {
            "type": "string",
            "enum": [
              "one_time",
              "recurring"
            ]
          },
          "bump_offer_price_cents": {
            "type": "integer",
            "format": "int64"
          },
          "bump_offer_interval": {
            "type": "string",
            "description": "Cadência do plano; vazia em plano avulso."
          },
          "bump_offer_interval_count": {
            "type": "integer"
          },
          "discount_type": {
            "type": "string"
          },
          "discount_value": {
            "type": "integer",
            "format": "int64"
          },
          "display_text": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrderBumps": {
        "type": "object",
        "description": "O bloco de bumps de um produto. O título é único do bloco; vazio significa não exibir.",
        "properties": {
          "title": {
            "type": "string"
          },
          "bumps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderBump"
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "next_offset": {
            "type": "integer",
            "nullable": true,
            "description": "Offset da próxima página; null quando não há mais páginas."
          }
        }
      },
      "Product": {
        "type": "object",
        "description": "Identidade do produto (nome, descrição, imagem, status). Tudo que define como o comprador paga — preço, moeda, parcelamento, recorrência — vive exclusivamente nas ofertas.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Status do produto; afeta todas as ofertas.",
            "example": "active"
          },
          "offers": {
            "type": "array",
            "description": "Ofertas ativas do produto, ordenadas por posição. Presente apenas quando include=offers.",
            "items": {
              "$ref": "#/components/schemas/Offer"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProductTheme": {
        "type": "object",
        "description": "Tema do checkout do produto, em JSONB livre. Faz merge raso sobre o tema do projeto (ADR 0009). 404 quando o produto não tem tema próprio e herda o do projeto.",
        "additionalProperties": true
      },
      "Refund": {
        "type": "object",
        "description": "Um reembolso registrado sobre uma cobrança.",
        "properties": {
          "refund_id": {
            "type": "string",
            "format": "uuid"
          },
          "payment_id": {
            "type": "string"
          },
          "gateway_refund_ref": {
            "type": "string",
            "description": "Referência no provedor; ausente enquanto pendente."
          },
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "payment_refunded_total_cents": {
            "type": "integer",
            "format": "int64"
          },
          "payment_amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SalesChartPoint": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "current": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "null nos dias futuros do mês corrente."
          },
          "previous": {
            "type": "integer",
            "format": "int64",
            "description": "Mesmo dia do mês anterior."
          }
        }
      },
      "SummaryMetric": {
        "type": "object",
        "description": "Um número do mês com o comparativo do mês anterior.",
        "properties": {
          "value": {
            "type": "integer",
            "format": "int64"
          },
          "previous": {
            "type": "integer",
            "format": "int64"
          },
          "change_percent": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "description": "Uma TRANSAÇÃO é a venda de UM produto: uma linha do pedido (ADR 0039). Um pedido com um order bump produz duas transações. O transaction_code é `ON…` na linha principal e `ON…-N` nas demais. Todos os valores em CENTAVOS.",
        "properties": {
          "transaction_code": {
            "type": "string",
            "description": "Código da transação: `ON…` na principal, `ON…-N` nas demais.",
            "example": "ON1788696360SEEDPIX3P1"
          },
          "order_id": {
            "type": "string",
            "description": "Pedido a que a linha pertence."
          },
          "position": {
            "type": "integer",
            "description": "Posição da linha no pedido; 1 é a principal."
          },
          "kind": {
            "type": "string",
            "enum": [
              "principal",
              "bump"
            ]
          },
          "line_count": {
            "type": "integer",
            "description": "Quantas linhas o pedido tem."
          },
          "order_amount_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Total do PEDIDO, somando todas as linhas."
          },
          "amount_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Valor desta linha."
          },
          "external_reference": {
            "type": "string"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "product_name": {
            "type": "string"
          },
          "offer_public_id": {
            "type": "string"
          },
          "buyer_name": {
            "type": "string"
          },
          "buyer_email": {
            "type": "string",
            "format": "email"
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "payment_method": {
            "type": "string"
          },
          "payment_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "installments": {
            "type": "integer"
          },
          "is_subscription": {
            "type": "boolean"
          },
          "subscription_cycle": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "gateway_charge_id": {
            "type": "string",
            "description": "Referência da cobrança no provedor, para conciliar com o extrato dele. Vazia enquanto não houve cobrança."
          },
          "split_leg_count": {
            "type": "integer",
            "description": "Quantas cobranças formam a venda: 2 no pagamento dividido. É a contagem, não o método, que identifica um dividido."
          },
          "refunded_amount_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Quanto voltou ao comprador nesta venda, somando as cobranças."
          }
        }
      },
      "TransactionAddress": {
        "type": "object",
        "properties": {
          "street_name": {
            "type": "string"
          },
          "street_number": {
            "type": "string"
          },
          "neighborhood": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "complement": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "TransactionAffiliate": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "percent": {
            "type": "integer"
          },
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "refunded_cents": {
            "type": "integer",
            "format": "int64"
          },
          "net_cents": {
            "type": "integer",
            "format": "int64",
            "description": "amount_cents − refunded_cents."
          }
        },
        "description": "Comissão creditada ao afiliado na venda, preservada mesmo se a afiliação mudar depois (ADR 0042)."
      },
      "TransactionAttempt": {
        "type": "object",
        "description": "Uma TENTATIVA de cobrança do pedido. Recusadas também aparecem: é o histórico de auditoria da venda.",
        "properties": {
          "payment_id": {
            "type": "string"
          },
          "gateway_charge_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "status_detail": {
            "type": "string",
            "description": "Código cru do provedor."
          },
          "payment_method": {
            "type": "string"
          },
          "payment_type": {
            "type": "string"
          },
          "installments": {
            "type": "integer"
          },
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "rejection": {
            "type": "object",
            "description": "Motivo da recusa já traduzido, quando houve.",
            "additionalProperties": true
          }
        }
      },
      "TransactionBuyer": {
        "type": "object",
        "description": "Dados do comprador desta venda. Documento e endereço só vêm preenchidos quando o checkout os coletou — são o que a emissão de nota fiscal exige.",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "document": {
            "type": "string",
            "description": "CPF ou CNPJ do comprador."
          },
          "address": {
            "$ref": "#/components/schemas/TransactionAddress"
          }
        }
      },
      "TransactionCoproducer": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "percent": {
            "type": "integer"
          },
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "refunded_cents": {
            "type": "integer",
            "format": "int64"
          },
          "net_cents": {
            "type": "integer",
            "format": "int64",
            "description": "amount_cents − refunded_cents."
          }
        },
        "description": "Fatia creditada ao co-produtor NA VENDA — não um recálculo pelo acordo de hoje: mudar o percentual depois não reescreve história (ADR 0021)."
      },
      "TransactionCouponPricing": {
        "type": "object",
        "description": "Decomposição preço → desconto → final da oferta PRINCIPAL, histórica: sai do que foi carimbado na venda, nunca do preço de hoje (ADR 0053). Os adicionais entram pelo preço cheio.",
        "properties": {
          "known": {
            "type": "boolean",
            "description": "false significa 'houve cupom e não sabemos quanto abateu' — assinaturas anteriores ao carimbo. Não é o mesmo que desconto zero."
          },
          "coupon_code": {
            "type": "string"
          },
          "original_cents": {
            "type": "integer",
            "format": "int64"
          },
          "discount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "final_cents": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "TransactionDerivedOrder": {
        "type": "object",
        "description": "Venda criada a partir desta pelo funil pós-compra. Cada aceite é uma venda NOVA (ADR 0045).",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "product_name": {
            "type": "string"
          },
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TransactionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Transaction"
          },
          {
            "type": "object",
            "properties": {
              "line": {
                "$ref": "#/components/schemas/TransactionItem"
              },
              "seller_name": {
                "type": "string"
              },
              "seller_document": {
                "type": "string",
                "description": "Documento do PRODUTOR."
              },
              "coupon_code": {
                "type": "string"
              },
              "discount_cents": {
                "type": "integer",
                "format": "int64"
              },
              "coupon_pricing": {
                "$ref": "#/components/schemas/TransactionCouponPricing"
              },
              "buyer": {
                "$ref": "#/components/schemas/TransactionBuyer"
              },
              "fees": {
                "$ref": "#/components/schemas/TransactionFees"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionItem"
                }
              },
              "attempts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionAttempt"
                }
              },
              "subscription": {
                "$ref": "#/components/schemas/TransactionSubscription"
              },
              "coproducers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionCoproducer"
                }
              },
              "affiliates": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionAffiliate"
                }
              },
              "parent_order_id": {
                "type": "string",
                "description": "Preenchido quando esta venda nasceu de um funil."
              },
              "derived_orders": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionDerivedOrder"
                }
              }
            }
          }
        ],
        "description": "A venda inteira: a linha consultada, o pedido, o comprador, as taxas, as tentativas e os beneficiários."
      },
      "TransactionFees": {
        "type": "object",
        "description": "Taxas e comissões da venda. As taxas REAIS que o provedor cobrou não são expostas — são internas da Yeon. net_received_cents já desconta as fatias de afiliado e co-produção: é o que fica com este projeto.",
        "properties": {
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "base_amount_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Preço sem os juros de parcelamento."
          },
          "application_fee_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Taxa da Yeon (percentual + fixa)."
          },
          "fee_percent_cents": {
            "type": "integer",
            "format": "int64"
          },
          "fee_fixed_cents": {
            "type": "integer",
            "format": "int64"
          },
          "interest_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Juros de parcelamento."
          },
          "installment_fee_seller_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Parte dos juros que o produtor absorveu."
          },
          "net_received_cents": {
            "type": "integer",
            "format": "int64",
            "description": "O que ficou com este projeto."
          },
          "refunded_amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "coproduction_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Creditado aos co-produtores, já descontado do líquido."
          },
          "affiliate_cents": {
            "type": "integer",
            "format": "int64",
            "description": "Comissão de afiliado, líquida de estornos."
          }
        }
      },
      "TransactionItem": {
        "type": "object",
        "description": "Uma linha do pedido. fee_cents e net_cents são RATEIO de exibição: o ledger continua por cobrança (ADR 0039).",
        "properties": {
          "transaction_code": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "kind": {
            "type": "string",
            "enum": [
              "principal",
              "bump"
            ]
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "product_name": {
            "type": "string"
          },
          "offer_public_id": {
            "type": "string"
          },
          "subscription_id": {
            "type": "string"
          },
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          },
          "refunded_cents": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "string"
          },
          "fee_cents": {
            "type": "integer",
            "format": "int64"
          },
          "net_cents": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "TransactionSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "current_cycle": {
            "type": "integer"
          },
          "interval_days": {
            "type": "integer"
          },
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "next_charge_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "last_charge_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token de API do seller gerado no dashboard, escopado a um projeto."
      }
    }
  }
}
